<app-menu></app-menu>
<div class="grid grid-nogutter surface-section text-800 mt-2">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="text-6xl font-bold mb-1">¡Bienvenido!</span>
            
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden" style="max-height: 560px;">
        <img src="../../../../assets/img/home.jpg" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>